{% extends 'main.html' %}
{% load static %}

{% block content %}

<div class="container-xxl py-5 bg-dark hero-header mb-5 ">
                <div class="container text-center my-5 pt-5 pb-4">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Contact Us</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Contact</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>


  <!-- Map Area Starts -->
    <section class="map-area section-padding my-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                     <div class="col-md-12 wow fadeIn" data-wow-delay="0.1s">
                        <iframe class="position-relative rounded w-100 h-100"
                             src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.9563939806644!2d36.895180674097496!3d-1.190978635527548!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f3e5aa4ddf1bf%3A0xacd77af80ae21720!2sJacaranda%20Gardens%20Estate!5e0!3m2!1sen!2ske!4v1749482988893!5m2!1sen!2ske"
                            frameborder="0" style="min-height: 350px; border:0;" allowfullscreen="" aria-hidden="false"
                            tabindex="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Map Area End -->


    <!-- Contact Form Starts -->
    <section class="contact-form section-padding3">
  <div class="container">
    <div class="row g-5">
      
      <!-- FORM TO THE LEFT -->
      <div class="col-lg-9">
        <form action="#" class="contact-form">
          <input type="text" name="name" placeholder="Your Name" required>
          <input type="email" name="email" placeholder="Email Address" required>
          <input type="text" name="project" placeholder="Project / Son's Name" required>
          
          <textarea name="message" rows="5" placeholder="Your Message" required></textarea>
          
          <button type="submit" class="template-btn">Send</button>
        </form>
      </div>

      <!-- ICONS TO THE RIGHT -->
      <div class="col-lg-3 mb-5 mb-lg-0 ">
        <div class="d-flex">
          <div class="into-icon">
            <i class="fa fa-home"></i>
          </div>
          <div class="info-text">
            <h5>Kenya, Africa</h5>
            <p>Nairobi</p>
          </div>
        </div>
        <div class="d-flex">
          <div class="into-icon">
            <i class="fa fa-phone"></i>
          </div>
          <div class="info-text">
            <h5>0746628449</h5>
            <p>Mon to Fri 9am to 6 pm</p>
          </div>
        </div>
        <div class="d-flex">
          <div class="into-icon">
            <i class="fa fa-envelope-o"></i>
          </div>
          <div class="info-text">
            <h5>nyamburaflorence83@gmail.com</h5>
            <p>Send us your query anytime!</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

    <!-- Contact Form End -->



    {% endblock content %}
