{% extends 'main.html' %}
{% block content %}
<div class="container " style="margin-top: 80px;">
    <div class="container-xxl py-5 bg-dark hero-header mb-5 ">
                <div class="container text-center my-5 pt-5 pb-4">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Contact Us</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Contact</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
<h3>Welcome to Neema Shines!</h3>

</div>

    {% endblock content %}
